
body {
    background: linear-gradient(to right, yellowgreen, yellow, red);
}

.calculator-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    min-height: 100vh;
    grid-template-columns: repeat(4,75px);
    grid-template-rows: minmax(120px, auto) repeat(5, 75px);

}

.calculator-grid > button {
    cursor: pointer;
    font-size: 2rem;
    border: 1px white solid;
    outline: none;
    background: rgba(255,255,255,0.75);
}

.calculator-grid > button:hover {
    background: rgba(255,255,255,0.9);
}

.calculator-grid > .operation:hover {
    background: rgba(11, 34, 246, 0.75);
}

.span-two {
    grid-column: span 2;
}

.screen {
    grid-column: 1 / -1;
    background: rgba(0,0,0, 0.75);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
}

.screen .previous-operation {
    color: rgba(255,255,255,0.75);
    font-size: 1.5rem;
}

.screen .current-operation {
    color: white;
    font-size: 2.5rem;
}

